@model Recruiter.Models.JobOffer

@{
    ViewData["Title"] = "Offer";
}

<h2>Details</h2>

<div class="row page-box">
    <h1>@Model.JobTitle</h1>
    <div class="col-sm-8">
        <div class="model-description" id="previewMarkdown">
            @Model.Description
        </div>
    </div>
    <hr />
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>@Html.DisplayNameFor(model => model.Company)</label>
                <span>@Html.DisplayFor(model => model.Company.Name)</span>
            </div>
            <div>
                <label>@Html.DisplayNameFor(model => model.Location)</label>
                <span>@Html.DisplayFor(model => model.Location)</span>
            </div>
            @if (Model.SalaryFrom.HasValue)
            {
                <div>
                    <label>@Html.DisplayNameFor(model => model.SalaryFrom)</label>
                    <span>@Html.DisplayFor(model => model.SalaryFrom)</span>
                </div>
            }
            @if (Model.SalaryTo.HasValue)
            {
                <div>
                    <label>@Html.DisplayNameFor(model => model.SalaryTo)</label>
                    <span>@Html.DisplayFor(model => model.SalaryTo)</span>
                </div>
            }
            <div>
                <label>@Html.DisplayNameFor(model => model.Created)</label>
                <span>@Html.DisplayFor(model => model.Created)</span>
            </div>
            @if (Model.ValidUntil.HasValue)
            {
                <div>
                    <label>@Html.DisplayNameFor(model => model.ValidUntil)</label>
                    <span>@Model.ValidUntil.Value.Subtract(DateTime.Now).Days days (@Model.ValidUntil)</span>
                </div>
            }
            <div>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id}, new { @class = "btn btn-primary" })
                @using (Html.BeginForm("Delete", "JobOffer", new { id = Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("Return to job offers", "Index", "JobOffer", null, new { @class="btn btn-primary"})
</div>
